/***************************** Tag Selectors *****************************/
h1 {
  color: red;
  font-size: 60px;
}

img:hover {
  background-color: gold;
}

/***************************** Class Selectors *****************************/

.bacon {
  background-color: red;
}
.peach {
  background-color: green;
}
.circular {
  border-radius: 100%;
}

/***************************** Id Selectors *****************************/
#heading {
  color: blue;
}
